<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxx.qztaxi.dao.service.StPptnRDao">

    <!-- 分页查询 -->
    <select id="getAllByMap" parameterType="map" resultType="com.qianxx.qztaxi.po.StPptnR">
        SELECT STCD
        ,TM
        ,DRP
        ,INTV
        ,PDR
        ,DYP
        ,WTH
        FROM ST_PPTN_R
        <where>
            STCD = #{STCD}
            AND TM Between #{startTime} And #{endTime}
        </where>
    </select>

    <select id="getRainInfoByTime" parameterType="map" resultType="map">
        SELECT
        SUM (DRP) AS DRP_SUM,
        SUM (INTV) AS INTV_SUM
        FROM
        ST_PPTN_R
        <where>
            STCD = #{STCD}
            AND TM Between #{startTime} And #{endTime}
        </where>
    </select>

    <select id="getAvgRainfallInfo" parameterType="map" resultType="map">
        SELECT
          AVG (DRP_SUM) AS AVG_DRP
        FROM
        (
            SELECT
              SUM (DRP) AS DRP_SUM
            FROM
              ST_PPTN_R
            <where>
                TM Between #{startTime} And #{endTime}
            </where>
            GROUP BY STCD
        ) A

        SELECT
        AVG (DRP) AS AVG_DRP
        FROM
        ST_PPTN_R
        <where>
            TM Between #{startTime} And #{endTime}
        </where>
    </select>

    <select id="getRainfallGt50Num" parameterType="map" resultType="Integer">
        SELECT
         COUNT(1)
        FROM
        (
            SELECT
              SUM (DRP) AS DRP_SUM
            FROM
              ST_PPTN_R
            <where>
                TM Between #{startTime} And #{endTime}
                AND DRP>=50
            </where>
            GROUP BY STCD
        ) A
        WHERE A.DRP_SUM>50

    </select>
</mapper> 