<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxx.qztaxi.dao.service.StRiverRDao">

    <!-- 分页查询 -->
    <select id="getRiverInfoByTime" parameterType="map" resultType="com.qianxx.qztaxi.po.StRiverR">
        SELECT
        TOP 1
        STCD
        ,TM
        ,Z
        ,Q
        FROM ST_RIVER_R
        <where>
            STCD = #{STCD}
            AND TM = #{staticTime}
        </where>
    </select>

    <select id="getNewestRiverInfo" parameterType="map" resultType="com.qianxx.qztaxi.po.StRiverR">
        SELECT
        TOP 2
        STCD
        ,TM
        ,Z
        ,Q
        ,WPTN
        FROM ST_RIVER_R
        <where>
            STCD = #{STCD}
        </where>
        ORDER by TM DESC
    </select>

    <select id="getInfoBetweenTime" parameterType="map" resultType="map">
        SELECT
        AVG (Z) AS Z_AVG,
        AVG (Q) AS Q_AVG
        FROM ST_RIVER_R
        <where>
            STCD = #{STCD}
            AND TM Between #{startTime} And #{endTime}
        </where>
    </select>

</mapper> 