<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxx.qztaxi.dao.user.AppVersionDao">

    <select id="getAllByMap" parameterType="map" resultType="com.qianxx.qztaxi.po.AppVersion">
        SELECT
        version_id,
        version_name,
        code_int,
        version_code,
        downLoad_url,
        introduce,
        create_time
        FROM app_version
        WHERE
        1=1
        <if test="codeInt != null and codeInt != ''">
            AND code_int = #{codeInt}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="getById" resultType="com.qianxx.qztaxi.po.AppVersion">
        select
                version_id,
                version_name,
                code_int,
                version_code,
                downLoad_url,
                introduce,
                create_time
        FROM app_version
		WHERE
		version_id=#{id}
	</select>

    <!-- 插入数据 -->
    <insert id="doInsert" parameterType="com.qianxx.qztaxi.po.AppVersion">
		INSERT INTO app_version (
	   		version_name,
	   		version_code,
	   	  	code_int,
	   		downLoad_url,
	   		introduce,
			create_time
	   	) VALUES (
     		#{versionName},
     		#{versionCode},
     		#{codeInt},
     		#{downLoadUrl},
     		#{introduce},
     		#{createTime}
		)
	</insert>

    <!-- 删除 -->
    <delete id="doDelete" parameterType="Integer">
        DELETE FROM app_version WHERE version_id=#{versionId}
    </delete>

    <!-- 获取最新版信息 -->
    <select id="getNewVersion" parameterType="map" resultType="com.qianxx.qztaxi.po.AppVersion">
        SELECT
        top 1
        versionCode,
        versionType,
        md5,
        downLoadUrl,
        introduce
        FROM app_version WHERE state = 1 AND isDel = 1 AND terminal = #{terminal}
        <if test="versionId != null and versionId != ''">
            AND versionId &gt; #{versionId}
        </if>
        ORDER BY versionId DESC LIMIT 1
    </select>

    <!-- 分页查询 -->
    <select id="getPage" parameterType="map" resultType="com.qianxx.qztaxi.po.AppVersion">
	   	SELECT
			version_id,
			version_name,
			code_int,
			version_code,
			downLoad_url,
			introduce,
			create_time
	   	FROM app_version
	   	ORDER BY create_time DESC
	</select>

    <select id="countByMap" parameterType="map" resultType="int">
		SELECT COUNT(version_id) FROM app_version
	</select>

</mapper> 