<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxx.qztaxi.dao.user.ResourceDao">

    <select id="getAllByMap" parameterType="map" resultType="com.qianxx.qztaxi.po.Resource">
        SELECT
        id,
        name,
        icon_class,
        action_link,
        father_id,
        menu_flag
        FROM resource
        WHERE 1=1
        <if test="fatherId != null and fatherId != ''">
            AND father_id=#{fatherId}
        </if>
    </select>

    <select id="getAllFather" resultType="com.qianxx.qztaxi.po.Resource">
        SELECT
        id,
        name,
        icon_class,
        action_link,
        father_id,
        menu_flag
        FROM resource
        WHERE father_id is null ;
    </select>


</mapper> 