<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxx.qztaxi.dao.user.UserInfoDao">

    <select id="getAllByMap" parameterType="map" resultType="com.qianxx.qztaxi.po.UserInfo">
        SELECT
        id,
        account,
        password,
        mobile,
        user_name,
        user_position
        FROM user_info
        WHERE 1=1
        <if test="account != null and account != ''">
            AND account=#{account}
        </if>
        <if test="mobile != null and mobile != ''">
            AND mobile=#{mobile}
        </if>
    </select>

    <insert id="save" parameterType="com.qianxx.qztaxi.po.UserInfo" flushCache="true" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user_info(
		account,
        password,
        mobile,
        user_name,
        user_position)
		VALUES (
		#{account},
		#{password},
		#{mobile},
		#{userName},
		#{userPosition})
	</insert>

    <!-- 分页查询 -->
    <select id="getPage" parameterType="map" resultType="com.qianxx.qztaxi.po.UserInfo">
        SELECT
        id,
        account,
        password,
        mobile,
        user_name,
        user_position
        FROM user_info
        <where>
            1 = 1
            <if test="mobile != null and mobile != ''">
                AND mobile = #{mobile}
            </if>
        </where>
        ORDER BY id
    </select>

    <select id="countByMap" parameterType="map" resultType="int">
        SELECT COUNT(id) FROM user_info
        <where>
            1 = 1
            <if test="mobile != null and mobile != ''">
                AND mobile = #{mobile}
            </if>
            <if test="account != null and account != ''">
                AND account = #{account}
            </if>
        </where>
    </select>

    <select id="getById" resultType="com.qianxx.qztaxi.po.UserInfo">
        SELECT
            id,
            account,
            password,
            mobile,
            user_name,
            user_position
        FROM user_info
		WHERE id=#{id}
	</select>

    <update id="update" parameterType="com.qianxx.qztaxi.po.UserInfo" flushCache="true">
        UPDATE user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null">account=#{account},</if>
            <if test="password != null">password=#{password},</if>
            <if test="mobile != null">mobile=#{mobile},</if>
            <if test="userName != null">user_name=#{userName},</if>
            <if test="userPosition != null">user_position=#{userPosition},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <delete id="deleteByIds" parameterType="String">
        DELETE FROM user_info WHERE id in
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper> 