@charset'utf-8';
section{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: .3rem;
	background-color: #FFBB00;
/*	background: -webkit-linear-gradient(top, #1ee89f 0%,#03dcc2 100%);
	background: linear-gradient(to bottom, #1ee89f 0%,#03dcc2 100%);*/
	overflow-y: auto;
}
.wrap{
	min-height: 100%;
	padding-bottom: 1.34rem;
	background: url(../images/bg-bottom.png) center bottom no-repeat;
	background-size: 7.5rem auto;
}
.top{
	position: relative;
	width: 100%;
	height: 4.4rem;
	padding: 0.4rem 1.1rem 0;
	background: url(../images/bg-top.png) 0 0 no-repeat;
	background-size: cover;
	text-align: center;
}
.content{
	padding-top: 1.1rem;
	text-align: center;
}
.content p{
	padding: 0 .4rem;
	color: #fff;
	text-align: left;
	font-size: .28rem;
	line-height: .42rem;
}
.f-title{
	width: 4.3rem;
}
.share-btn{
	display: block;
	width: 5.38rem;
	height: .9rem;
	margin: .2rem auto .5rem;
	background: url(../images/btn.png) no-repeat;
	background-size: cover;
	color: #fff;
	line-height: .9rem;
}
.btn-disable{
	background: url(../images/btn-disable.png) no-repeat;
	background-size: cover;
}
.s-title{
	width: 4.82rem;
}
.form-control{
	width: 5.38rem;
	height: .94rem;
	margin: 0 auto;
	background: url(../images/p-bg.png) no-repeat;
	background-size: cover;
}
.form-control input{
	width: 100%;
	height: .94rem;
	padding: .2rem .3rem .24rem;
	line-height: .5rem;
	border: 0;
	background: none;
	font-size: .32rem;
	font-family: "PingFang-SC-Regular","Heiti SC","Microsoft Yahei","SimSun",Tahoma,Arial,sans-serif;
	text-align: center;
}
.pop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999；
}
.pop .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}
.error-msg{
	position: absolute;
	top: 45%;
	left: 50%;
	width: 6rem;
	margin: 0 0 0 -3rem;
	padding: .3rem .4rem;
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	font-size: 14px;
}
.success-info{
	position: absolute;
	top: 45%;
	left: 50%;
	width: 6rem;
	margin: 0 0 0 -3rem;
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	font-size: 14px;
}
.success-info p{
	padding: .2rem .4rem .2rem;
	border-bottom: 1px solid #ccc;
	color: #000;
	text-align: center;
}
.success-info a{
	display: block;
	padding: .2rem 0;
	color: #1ee89f;
}
.loading{
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: .2rem;
	background-color: #fff;
	z-index: 9999999;
	font-size: 14px;
	text-align: center;
}